/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.fr li:nth-of-type(2n) {
	margin: auto 10px;
	color: #66666;
}

/*快捷导航*/
.shortcut {
	height: 31px;
	background-color: #f1f1f1;
}
.shortcut li {
	float: left;
	line-height: 31px;
}
.style_red {
	color: red;
}
.arr-icon::after {
	font-family: "iconfont";
	content:"\e665";
}
/*header导航模块*/
.header {
	position: relative;
	height: 105px;
}
.logo {
	position: absolute;
	top: 25px;
	width: 171px;
	height: 61px;
}
.logo a {
	display: block;
	width: 171px;
	height: 61px;
	background: url(../image/logo.png) no-repeat center;
	font-size: 0px;
}
.search {
	position: absolute;
	right: 0;
	top: 25px;
	width: 538px;
	height: 36px;
	border: 2px solid #b1191a;
}
.search input {
	float: left;
	width: 454px;
	height: 32px;
	padding-left: 10px;
}
.search button {
	float: left;
	width: 80px;
	height: 32px;
	background-color: #b1191a;
	color: #fff;
	font-size: 16px;
}
.shopcar {
	position: absolute;
	left: 195px;
	top: 37px;
	font-size: 19px;
	color: #333333;
}
/*购物车样式*/
.shopcar_bar {
	font-size: 16px;
	color: #c81623;
	height: 38px;
}
.shopcar_thead {
	height: 35px;
	border: 1px solid #dddddd;
	background-color: #f5f5f5;
	line-height: 35px;
	font-size: 12px;
	color: #666;
	padding-left: 5px;
}
.shopcar_thead ul li {
	float: left;
}
.t-checkbox {
	width: 121px; 
}
.shopcar_thead input {
	vertical-align: middle;
}
.shopcar_item input {
	vertical-align: top;
}
.t-goods {
	width: 300px;
}
.t-props {
	width: 195px;
}
.t-price {
	width: 134px;
}
.t-num {
	width: 167px;
}
.t-sum {
	width: 167px;
}
.t-action {
	width: 109px;
}
.item_title {
	height: 44px;
	border-bottom: 2px solid #dddddd;
	padding-left: 5px;
	padding-top: 18px;
}
.item_title_l {
	float: left;
}
.item_title_r {
	float: right;
	font-size: 12px;
}
.item_title_l span {
	font-size: 12px;
	background-color: #c81623;
	color: #fff;
}
.item_body {
	margin-top: 18px;
	border: 1px solid #dddddd;
	border-bottom: 0;
}
.item_body img {
	width: 84px;
	height: 84px;
}
.item_1 ,
.item_2 ,
.item_3 ,
.item_4 ,
.item_5 {
	border-bottom: 1px solid #dddddd;
	padding: 12px 0;
	padding-left: 5px;
}
.item_body ul li {
	float: left;
}
.t-price,.t-goods,.t-props,.t-price,.t-num,.t-sum,.t-action {
	padding-right: 30px;
	color: #999999;
}
.t-goods {
	font-size: 12px;
}
.t-goods p {
	color: #333333;
	margin-bottom: 5px;
}
.lihe {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../image/icons.png) no-repeat center;
	background-position: -525px -78px;
	vertical-align: middle;
	margin-right: 4px;
}
.t-props ,
.item_2_x p ,
.del-bar-1 p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #333333;
}
.shopcar_item .t-price {
	font-size: 14px;
	color: #333333;
}
.t-num {
	text-align: center;
}
.t-num-btn {
	width: 97px;
	height: 30px;
	margin: auto;
	line-height: 28px;
	border: 1px solid #dddddd;
}
.jian,
.jia {
	float: left;
	width: 26px;
	height: 28px;
}
.shuliang {
	float: left;
	width: 43px;
	height: 28px;
	font-size: 16px;
	color: #333;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	text-align: center;
}
.shopcar_item {
	margin-bottom: 10px;
}
.shopcar_item .t-sum {
	font-size: 14px;
	color: #333;
	font-weight: 700;
}
.t-action a {
	display: block;
}
.huangou {
	height: 24px;
}
.huangou span {
	float: left;
	width: 45px;
	height: 20px;
	color: #c81623;
	border: 1px solid #c81623;
	line-height: 18px;
	text-align: center;
	margin-right: 17px;
}
.huangou p {
	float: left;
	margin-right: 17px;
}
.huangou_goods {
	float: left;	
	display: block;
	padding: 2px 5px;
	background-color: #c81623;
	color: #fff;
	font-size: 12px;
	margin-right: 10px;
}
.item_2_s {
	margin-top: 10px;
}
.item_2_x {
	width: 280px;
	margin-left: 60px;
	margin-top: 20px;	
}
.item_2_x a {
	float: left;
	width: 240px;
	margin-right: 20px; 
}
.item_2_x ul li p {
	font-size: 12px;
	color: #999;
}
.item_title_l .dian {
	background-color: #fff;
	color: #333;
}
.shopcar-bar {
	height: 50px;
	width: 1200px;
	border: 1px solid #dddddd;
}
.shopcar-bar-l {
	float: left;
	height: 50px;
	line-height: 50px;
	padding-left: 5px;
}
.shopcar-bar-l  .dian {
	vertical-align: top;
	margin-right: 18px;
}
.shopcar-bar-l a {
	margin-right: 15px;
}
.shopcar-bar-btn {
	display: block;
	height: 48px;
	width: 110px;
	line-height: 48px;
	text-align: center;
	background-color: #e50011;
	float: right;
	color: #fefefe;
	font-size: 16px;
	
}
.shopcar-bar-r {
	float: right;
	height: 50px;
	width: 350px;
}
.shopcar-bar-r span {
	width: 90px;
	display: inline-block;
	float: right;
	text-align: left;
}
.shopcar-bar-r p{
	display: inline-block;
	float: right;
	text-align: right;
}
.p-1 {
	height: 27px;
	line-height: 27px;
}
.p-2 {
	height: 20px;
	line-height: 20px;
}
.p-1 span {
	font-size: 16px;
	color: #e60012;
}
.p-2 span {
	font-size: 12px;
}
.del-bar {
	height: 105px;
	padding-top: 20px;
	font-size: 12px;
}
.del-bar p {
	color: #333;
	padding-left: 5px;
	margin-bottom: 20px;
}
.del-bar-1 {
	position: relative;
	height: 27px;
	line-height: 27px;
	background-color: #fffdee;
	padding-left: 15px;
}
.del-bar-1 p {
	display: inline-block;
	width: 217px;
	color: #999;
}
.del-bar-price ,
.del-bar-num {
	position: absolute;
	font-size: 14px;
	color: #333;
}
.del-bar-price  {
	left: 570px;
}
.del-bar-num {
	left: 780px;
}
.del-bar-1 a {
	float: right;
	margin: 0 15px;
	color: #999;
}
.mylove {
	height: 400px;
}
.mylove-hd {
	height: 40px;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
}
.mylove-hd a {
	display: inline-block;
	width: 87px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #333;
}
.mylove-hd a:hover {
	background-color: #c81623;
	color: #fff;
}
.mylove-bd {
	position: relative;
	height: 360px;
}
.prev,
.next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	display: block;
	width: 19px;
	height: 48px;
}
.prev {
	left: 0;
	background: #ddd url(../image/prev.png) no-repeat center;
}
.next {
	right: 0;
	background: #ddd url(../image/next.png) no-repeat center;
}
.mylove-bd ul {
	position: absolute;
	top: 20px;
	left: 39px;
}
.mylove-bd ul li {
	float: left;
	width: 246px;
	height: 306px;
	border: 1px dotted #cacaca;
	padding: 18px 20px;
	text-align: center;
}
.mylove-bd ul li:nth-child(n+1) {
	margin-left: -1px;
}
.mylove-bd ul li img {
	width: 160px;
	height: 160px;
}
.mylove-bd ul li p {
	color: #333333;
	font-size: 12px;
	text-align: left;
	margin-top: 7px;
}
.mylove-bd ul li span {
	display: block;
	font-size: 14px;
	color: #c81623;
	margin-top: 11px;
}
.mylove-bd-btn {
	width: 124px;
	height: 30px;
	border: 1px solid #999;
	border-radius: 5px;
	background-color: #fff;
	line-height: 30px;
	color: #333;
}
/*底部模块*/
.footer {
	height: 415px;
	background-color: #f1f1f1;
	padding-top: 30px;
}
.mod_service {
	height: 80px;
	border-bottom: 1px solid #ccc;
}
.mod_service ul li {
	float: left;
	height: 50px;
	width: 300px;
	padding-left: 30px;
}
.mod_service ul li h5 {
	float: left;
	height: 50px;
	width: 50px;
	background: url(../image/icons.png) no-repeat -252px -2px;
	margin-right: 8px;
}
.service_txt h4 {
	font-size: 14px;
}
.service_txt p {
	font-size: 12px;
}
.mod_help {
	height: 185px;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
	margin-left: 50px;
}
.mod_help dl {
	width: 200px;
	float: left;
} 
.mod_help dl:last-child {
	width: 90px;
	text-align: center;
}
.mod_help dl:last-child img{
	width: 90px;
}
.mod_help dt {
	font-size: 16px;
	margin-bottom: 10px;
}
.mod_help dd {
	font-size: 12px;
}
.mod_copyright {
	text-align: center;
	padding-top: 20px;
}
.links {
	margin-bottom: 15px;
}
.links li {
	float: left;
}
.mod_copyright_split {
	margin: 0 10px;
}
.copyright {
	line-height: 20px;
}
